<%- include("../partials/adminHeader.ejs") %>

        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include("../partials/adminNavbar.ejs") %>

            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4">
              <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-6">
                  <form action="/admin/addBanner" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name:</label>
                      <input type="text" id="name" name="name" class="form-control" required>
                    </div>
            
                    <div class="mb-3">
                      <label for="image" class="form-label">Image:</label>
                      <input type="file" id="image" name="image" class="form-control" accept="image/*" required>
                    </div>
            
                    <div class="mb-3">
                      <label for="description" class="form-label">Description:</label>
                      <textarea id="description" name="description" class="form-control" required></textarea>
                    </div>
            
                    <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
            <!-- Blank End -->


            <!-- Footer Start -->
            <%- include("../partials/adminfooter.ejs") %>
